<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="index::head">

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="index::header"></nav>

	<div class="container">



		<div class="row">

			<div class="blog-main">
				<h3>newsLog 列表</h3>

				<div class="col-sm-12 col-lg-12" id="list">
					<table class="span12 table table-striped">
						<thead>


							<tr>
								<td>id</td>
								<td>dtype</td>
								<td>objId</td>
								<td>userId</td>
								<td>action</td>
								<td>note</td>
								<td>createdAt</td>


							</tr>
						</thead>
						<tbody>
							<div class="" th:each="s : ${objs}">

								<tr>
										<td th:text='${s.id}'></td>
										<td th:text='${s.dtype}'></td>
										<td th:text='${s.objId}'></td>
										<td th:text='${s.userId}'></td>
										<td th:text='${s.action}'></td>
										<td th:text='${s.note}'></td>
										<td th:text='${s.createdAt}'></td>


									<td>
										<a class="btn btn-primary btn-sm" th:href="@{'/newsLog/show/'+${s.id}}">展示</a>
										<a class="btn btn-primary btn-sm" th:href="@{'/newsLog/edit?id='+${s.id}}">编辑</a>
										<a class="btn btn-primary btn-sm" th:onclick="'javascript:deleteContact(\'/newsLog/delete?id='+${s.id}+'\',\'确认删除么，江删除全部相关信息\')'">删除</a>
									</td>
								</tr>
							</div>
						</tbody>
					</table>

				</div>

				<nav>
					<ul class="pager">
						<li>
							<a th:href="@{/newsLog/add}">新增</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>


	</div>
	<!-- /.container -->

	<div class="blog-footer navbar-fixed-bottom" th:include="index :: footer"></div>


</body>
<script th:inline="javascript">
	$(document).ready(function() {

	})
</script>
</html>