<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="index::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="index::header"></nav>

	<input type="hidden" id="currentObjId" th:value="${obj.id}" />



	<div class="container-fluid">


		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar" th:include="user/sidebar::sidebar"></div>


			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


				<div class="blog-post">
					<h2 class="blog-post-title">Item show</h2>
					<hr />

					<div>
						<span class='label label-default'>id</span>
						<p th:text='${obj.id}'></p>
					</div>
					<div>
						<span class='label label-default'>name</span>
						<p th:text='${obj.name}'></p>
					</div>
					<div>
						<span class='label label-default'>createdAt</span>
						<p th:text='${obj.createdAt}'></p>
					</div>
					<div>
						<span class='label label-default'>updatedAt</span>
						<p th:text='${obj.updatedAt}'></p>
					</div>


				</div>
				<!-- blog-post -->
				<div class="form-group">
					<div class="col-sm-offset-8 col-sm-4">
						<a type="button" class="btn btn-success" th:href="@{'/item/index'}">返回列表</a>
						<a type="button" class="btn btn-info" th:href="@{'/item/edit?id='+${obj.id}}">编辑</a>

					</div>
				</div>
			</div>
			<!-- blog-main -->
		</div>
		<!-- row -->


	</div>
	<!-- /.container -->
</body>

<script th:inline="javascript">
	
</script>

</html>
