<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="index::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="index::header"></nav>



	<div class="container-fluid">


		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar" th:include="user/sidebar::sidebar"></div>


			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



				<div class="blog-header">
					<h1 class="blog-title">department编辑</h1>
				</div>

				<div class="row">

					<div class="blog-main" th:include="department/new::departmentForm"></div>


				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
	</div>


</body>
<script th:inline="javascript">
	
</script>

</html>
